{% extends "base.html" %}

{% block content %}

{% load static %}


 <!-- <body data-layout="horizontal" data-topbar="dark"> -->

        <!-- Begin page -->
        <div id="layout-wrapper">

            
            <!-- Header-->
            {% include "partials/als_header.html" %}

            <!-- ========== Left Sidebar Start ========== -->
            {% include "partials/als_member_left_sidebar.html" %}
            <!-- Left Sidebar End -->


            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">
                <div class="page-content">
                    <div class="container-fluid">

                         <!-- start page title -->
                         {% include "partials/als_page_title.html" %}
                        <!-- end page title -->

                        {% include "partials/als_buttons.html" %}



                        <div class="row">
                            <div class="col-12">
                                <div class="card">

                                        {% include 'partials/als_messages.html' %} 
                             
                                        {% include 'partials/als_tabs.html' %} 
                             
                                </div>
                            </div> <!-- end col -->
                        <!-- end row -->

                        </div>
                  </div>  
            </div>
        </div>
    </div>
        
        </div>
        <!-- END layout-wrapper -->

{% endblock %}