{% extends "base.html" %}

{% block content %}

{% load static%}

 <!-- <body data-layout="horizontal" data-topbar="dark"> -->

        <!-- Begin page -->
        <div id="layout-wrapper">

            
            <!-- Header-->
            {% include "partials/als_header.html" %}

            <!-- ========== Left Sidebar Start ========== -->
            {% include "partials/als_left_sidebar.html" %}
            <!-- Left Sidebar End -->


            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">
                <div class="page-content">
                    <div class="container-fluid">

                         <!-- start page title -->
                         {% include "partials/als_page_title.html" %}
                        <!-- end page title -->

                        <div class="row">
                            <div class="col-xl-6">
                                <div class="card">
                                    <div class="card-body">
                                        <!-- <h4 class="card-title">Validation type</h4>
                                        <p class="card-title-desc">Parsley is a javascript form validation
                                            library. It helps you provide your users with feedback on their form
                                            submission before sending it to your server.</p> -->

                                            {% include 'partials/als_messages.html' %} 
                                            
                                        <form class="custom-validation" action="" method="POST">
                                            {% csrf_token %}

                                           

                                        

                                    
                                        

                                            <div class="mb-3">
                                                <div class="mb-3 position-relative">
                                                    <label for="validationTooltipUsername" class="form-label">SHARES ENTRANCE FEE </label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"
                                                                id="validationTooltipUsernamePrepend">KES</span>
                                                        </div>
                                                        <input type="number" class="form-control" id="amount"
                                                            placeholder="0.00" min="1"
                                                            aria-describedby="validationTooltipUsernamePrepend"  name="SHARES_ENTRANCE_FEE" value="{{ values.SHARES_ENTRANCE_FEE }}" required>
                                                        <div class="invalid-tooltip">
                                                            Please provide an amount.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="mb-3">
                                                <div class="mb-3 position-relative">
                                                    <label for="validationTooltipUsername" class="form-label"> SHARES APPLICATION FEE</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"
                                                                id="validationTooltipUsernamePrepend">KES</span>
                                                        </div>
                                                        <input type="number" class="form-control" id="amount"
                                                            placeholder="0.00" min="1"
                                                            aria-describedby="validationTooltipUsernamePrepend"  name="SHARES_APPLICATION_FEE" value="{{ values.SHARES_APPLICATION_FEE }}" required>
                                                        <div class="invalid-tooltip">
                                                            Please provide an amount.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="mb-3">
                                                <div class="mb-3 position-relative">
                                                    <label for="validationTooltipUsername" class="form-label"> SAVINGS ENTRANCE FEE</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"
                                                                id="validationTooltipUsernamePrepend">KES</span>
                                                        </div>
                                                        <input type="number" class="form-control" id="amount"
                                                            placeholder="0.00" min="1"
                                                            aria-describedby="validationTooltipUsernamePrepend"  name="SAVINGS_ENTRANCE_FEE" value="{{ values.SAVINGS_ENTRANCE_FEE }}" required>
                                                        <div class="invalid-tooltip">
                                                            Please provide an amount.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="mb-3">
                                                <div class="mb-3 position-relative">
                                                    <label for="validationTooltipUsername" class="form-label">MIN LOAN </label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"
                                                                id="validationTooltipUsernamePrepend">KES</span>
                                                        </div>
                                                        <input type="number" class="form-control" id="amount"
                                                            placeholder="0.00" min="1"
                                                            aria-describedby="validationTooltipUsernamePrepend"  name="MIN_LOAN" value="{{ values.MIN_LOAN }}" required>
                                                        <div class="invalid-tooltip">
                                                            Please provide an amount.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="mb-3">
                                                <div class="mb-3 position-relative">
                                                    <label for="validationTooltipUsername" class="form-label">MAX LOAN </label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"
                                                                id="validationTooltipUsernamePrepend">KES</span>
                                                        </div>
                                                        <input type="number" class="form-control" id="amount"
                                                            placeholder="0.00" min="1"
                                                            aria-describedby="validationTooltipUsernamePrepend"  name="MAX_LOAN" value="{{ values.MAX_LOAN }}" required>
                                                        <div class="invalid-tooltip">
                                                            Please provide an amount.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="mb-3">
                                                <div class="mb-3 position-relative">
                                                    <label for="validationTooltipUsername" class="form-label">CAPITAL SHARE</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"
                                                                id="validationTooltipUsernamePrepend">KES</span>
                                                        </div>
                                                        <input type="number" class="form-control" id="amount"
                                                            placeholder="0.00" min="1"
                                                            aria-describedby="validationTooltipUsernamePrepend"  name="CAPITAL_SHARE" value="{{ values.CAPITAL_SHARE }}" required>
                                                        <div class="invalid-tooltip">
                                                            Please provide an amount.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="mb-3">
                                                <div class="mb-3 position-relative">
                                                    <label for="validationTooltipUsername" class="form-label">SHARES MIN</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"
                                                                id="validationTooltipUsernamePrepend">KES</span>
                                                        </div>
                                                        <input type="number" class="form-control" id="amount"
                                                            placeholder="0.00" min="1"
                                                            aria-describedby="validationTooltipUsernamePrepend"  name="SHARES_MIN" value="{{ values.SHARES_MIN }}" required>
                                                        <div class="invalid-tooltip">
                                                            Please provide an amount.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="mb-3">
                                                <div class="mb-3 position-relative">
                                                    <label for="validationTooltipUsername" class="form-label">ACCOUNT</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"
                                                                id="validationTooltipUsernamePrepend">KES</span>
                                                        </div>
                                                        <input type="number" class="form-control" id="amount"
                                                            placeholder="0.00" min="1"
                                                            aria-describedby="validationTooltipUsernamePrepend"  name="ACCOUNT" value="{{ values.ACCOUNT }}" required>
                                                        <div class="invalid-tooltip">
                                                            Please provide an amount.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="mb-3">
                                                <div class="mb-3 position-relative">
                                                    <label for="validationTooltipUsername" class="form-label">ACCOUNT WITHDRAWAL</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"
                                                                id="validationTooltipUsernamePrepend">KES</span>
                                                        </div>
                                                        <input type="number" class="form-control" id="amount"
                                                            placeholder="0.00" min="1"
                                                            aria-describedby="validationTooltipUsernamePrepend"  name="ACCOUNT_WITHDRAWAL" value="{{ values.ACCOUNT_WITHDRAWAL }}" required>
                                                        <div class="invalid-tooltip">
                                                            Please provide an amount.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="mb-3">
                                                <div class="mb-3 position-relative">
                                                    <label for="validationTooltipUsername" class="form-label">PROCESSING FEE</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"
                                                                id="validationTooltipUsernamePrepend">KES</span>
                                                        </div>
                                                        <input type="number" class="form-control" id="amount"
                                                            placeholder="0.00" min="1"
                                                            aria-describedby="validationTooltipUsernamePrepend"  name="PROCESSING_FEE" value="{{ values.PROCESSING_FEE }}" required>
                                                        <div class="invalid-tooltip">
                                                            Please provide an amount.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="mb-3">
                                                <div class="mb-3 position-relative">
                                                    <label for="validationTooltipUsername" class="form-label">PASSBOOK</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"
                                                                id="validationTooltipUsernamePrepend">KES</span>
                                                        </div>
                                                        <input type="number" class="form-control" id="amount"
                                                            placeholder="0.00" min="1"
                                                            aria-describedby="validationTooltipUsernamePrepend"  name="PASSBOOK" value="{{ values.PASSBOOK }}" required>
                                                        <div class="invalid-tooltip">
                                                            Please provide an amount.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="mb-3">
                                                <div class="mb-3 position-relative">
                                                    <label for="validationTooltipUsername" class="form-label">INTEREST</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"
                                                                id="validationTooltipUsernamePrepend">%</span>
                                                        </div>
                                                        <input type="number" class="form-control" id="amount"
                                                            placeholder="0.00" min="1"
                                                            aria-describedby="validationTooltipUsernamePrepend"  name="INTEREST" value="{{ values.INTEREST }}" required>
                                                        <div class="invalid-tooltip">
                                                            Please provide an amount.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="mb-3">
                                                <div class="mb-3 position-relative">
                                                    <label for="validationTooltipUsername" class="form-label">INSUARANCE</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"
                                                                id="validationTooltipUsernamePrepend">%</span>
                                                        </div>
                                                        <input type="number" class="form-control" id="amount"
                                                            placeholder="0.00" min="1"
                                                            aria-describedby="validationTooltipUsernamePrepend"  name="INSUARANCE" value="{{ values.INSUARANCE }}" required>
                                                        <div class="invalid-tooltip">
                                                            Please provide an amount.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="mb-3">
                                                <div class="mb-3 position-relative">
                                                    <label for="validationTooltipUsername" class="form-label">PHONE NUMBER</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"
                                                                id="validationTooltipUsernamePrepend">KES</span>
                                                        </div>
                                                        <input type="number" class="form-control" id="amount"
                                                            placeholder="0.00" min="1"
                                                            aria-describedby="validationTooltipUsernamePrepend"  name="PHONE_NUMBER" value="{{ values.PHONE_NUMBER }}" required>
                                                        <div class="invalid-tooltip">
                                                            Please provide an amount.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="mb-3">
                                                <div class="mb-3 position-relative">
                                                    <label for="validationTooltipUsername" class="form-label">SACCO PHONE NUMBER</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"
                                                                id="validationTooltipUsernamePrepend">KES</span>
                                                        </div>
                                                        <input type="text" class="form-control" id="amount"
                                                            
                                                            aria-describedby="validationTooltipUsernamePrepend"  name="SACCO_PHONE_NUMBER" value="{{ values.SACCO_PHONE_NUMBER }}" required>
                                                        <div class="invalid-tooltip">
                                                            Please provide an amount.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            

                
        
                            
                                            <div class="mb-0">
                                                <div>
                                                    <button type="submit" class="btn btn-success waves-effect waves-light">
                                                        <i class="ri-check-line align-middle me-2"></i> Submit
                                                    </button>
                                                    
                                                    <a href="{% url 'registration' %}">
                                                   
                                                        <button type="button" class="btn btn-warning waves-effect waves-light">
                                                            <i class="ri-error-warning-line align-middle me-2"></i> Cancel
                                                        </button>
                                                     
                                                    </a>
                                                </div>

                                            </div>

                                        </form>
                                   
        
                                    </div>
                                </div>
                            </div> <!-- end col -->
                        <!-- end row -->
                    </div>
                  </div>  
            </div>
        
        </div>
        <!-- END layout-wrapper -->



        <script>
            var amount = document.getElementById("amount");
            var interest = document.getElementById("interest");
            var insurance = document.getElementById("insurance");
            var duration = document.getElementById("duration");
        
            amount.oninput = function() {
                interest.value = parseFloat(this.value * (1 / 100));
                insurance.value = parseFloat(this.value * 3 / 100);
            }


            // OR

           /*  document.getElementById("input1").addEventListener("input", myFunction);

            function myFunction() {
                document.getElementById("input2").value = this.value;
            } */

        </script>




{% endblock %}