{% load mathfilters %}
<!DOCTYPE html>
<html>
<head>
	<title>Receipt</title>
	<style>
		/* Set page size to 80mm by 160mm */
		@media print {
			@page {
				size: 80mm 160mm;
			}

			/* Hide print and download buttons */
			.btn-print,
			.btn-download {
				display: none !important;
			}

			/* Hide URL link */
			.url-link {
				display: none;
			}
		}

		body {
			font-family: Arial, sans-serif;
			font-size: 10pt;
			line-height: 1.2;
		}

		table {
			width: 100%;
			border-collapse: collapse;
		}

		th, td {
			padding: 4px;
			text-align: left;
			border-bottom: 1px solid #ddd;
      font-size: 8pt;
		}

		th {
			background-color: #f2f2f2;
		}

		.btn {
			background-color: #4CAF50;
			color: white;
			padding: 8px 16px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			border-radius: 4px;
			cursor: pointer;
		}

		.btn-print {
			background-color: #008CBA;
		}

		.btn-download {
			background-color: #f44336;
		}

    h5 {
			text-align: center;
		}
    
    .receipt-footer {
      margin-top: 50px;
      text-align: center;
    }

	</style>
</head>
<body>
  <h5><small>LAARE CATHOLIC WAUMINI SACCO LTD</small><br><small>TEL: +254 732 840926</small></h5>
	<table>
		
		<tbody>
			<tr>
				<td colspan="2">Date:</td>
				<td colspan="2"><small>{{ r.created_on }}</small></td>
			</tr>
			
			<tr>
				<td colspan="2">Payee:</td>
				<td colspan="2">{{ r.member.first_name }} {{ r.member.last_name }}</td>
			</tr>
      <tr>
				<td colspan="2">Member No. (Shares):</td>
				<td colspan="2">{% if r.member.userprofile.member_no_shares %} {{ r.member.userprofile.member_no_shares }} {% else %} N/A {% endif %}</td>
			</tr>
      <tr>
				<td colspan="2">Member No. (Savings):</td>
				<td colspan="2">{% if r.member.userprofile.member_no_savings %} {{ r.member.userprofile.member_no_savings }} {% else %} N/A {% endif %}</td>
			</tr>
      <tr>
				<td colspan="2">ID No.:</td>
				<td colspan="2">{% if r.member.userprofile.id_no %} {{ r.member.userprofile.id_no }} {% else  %} N/A {% endif %}</td>
			</tr>


		{% if 'r1' in request.path|slice:"1:" %}    

		<tr>
			<td colspan="2">Receipt No.:</td>
			<td colspan="2">{{ r.reg_no }}</td>
		</tr>

		<tr>
			<th colspan="2">Description</th>
			<th colspan="2">Amount</th>
		  </tr>

			<tr>
				<td colspan="2">Shares Entrance:</td>
				<td colspan="2">Ksh {{ r.shares_entrance_fee }}</td>
			</tr>
			<tr>
				<td colspan="2">Shares Application:</td>
				<td colspan="2">Ksh {{ r.shares_application_fee }}</td>
			</tr>
			<tr>
				<td colspan="2">Savings Entrance:</td>
				<td colspan="2">Ksh {{ r.savings_entrance_fee }}</td>
			</tr>


			{% elif 'r2' in request.path|slice:"1:" %}  

			

			<tr>
				<td colspan="2">Receipt No.:</td>
				<td colspan="2">{{ r.c_share_no }}</td>
			</tr>

			<tr>
				<th colspan="2">Description</th>
				<th colspan="2">Amount</th>
			  </tr>


			<tr>
				<td colspan="2">Amount:</td>
				<td colspan="2">Ksh {{ r.amount }}</td>
			</tr>
			<tr>
				<td colspan="2">Total:</td>
				<td colspan="2">Ksh {{ r.amount }}</td>
			</tr>

			{% elif 'r3' in request.path|slice:"1:" %} 

			<tr>
				<th colspan="2">Description</th>
				<th colspan="2">Amount</th>
			  </tr>

			  <tr>
				<td colspan="2">Receipt No.:</td>
				<td colspan="2">{{ r.nhif_no }}</td>
			</tr>


			<tr>
				<td colspan="2">Amount:</td>
				<td colspan="2">Ksh {{ r.amount }}</td>
			</tr>

            <tr>
				<td colspan="2">Commission:</td>
				<td colspan="2">Ksh {{ r.commission }}</td>
			</tr>
			<tr>
				<td colspan="2">Total:</td>
				<td colspan="2">Ksh {{ r.amount|add:r.commission }}.00</td>
			</tr>

			{% elif 'r4' in request.path|slice:"1:" %} 

			<tr>
				<td colspan="2">Receipt No.:</td>
				<td colspan="2">{{ r.account_no }}</td>
			</tr>

			<tr>
				<th colspan="2">Description</th>
				<th colspan="2">Amount</th>
			  </tr>

			<tr>
				<td colspan="2">Amount:</td>
				<td colspan="2">Ksh {{ r.amount }}</td>
			</tr>

			<tr>
				<td colspan="2">Total:</td>
				<td colspan="2">Ksh {{ r.amount }}</td>
			</tr>

			{% elif 'r5' in request.path|slice:"1:" %} 


			<tr>
				<td colspan="2">Receipt No.:</td>
				<td colspan="2">{{ r.share_no }}</td>
			</tr>

			<tr>
				<th colspan="2">Description</th>
				<th colspan="2">Amount</th>
			  </tr>

			  <tr>
				<td colspan="2">Amount:</td>
				<td colspan="2">Ksh {{ r.amount }}</td>
			</tr>

			<tr>
				<td colspan="2">Total:</td>
				<td colspan="2">Ksh {{ r.amount }}</td>
			</tr>

			{% elif 'r6' in request.path|slice:"1:" %} 


			<tr>
				<td colspan="2">Receipt No.:</td>
				<td colspan="2">{{ r.loan_fee_no }}</td>
			</tr>

			<tr>
				<th colspan="2">Description</th>
				<th colspan="2">Amount</th>
			  </tr>

			  <tr>
				<td colspan="2">Amount:</td>
				<td colspan="2">Ksh {{ r.loan_fee }}</td>
			</tr>

            <tr>
				<td colspan="2">Processing Fee:</td>
				<td colspan="2">Ksh {{ r.processing }}</td>
			</tr>

			<tr>
				<td colspan="2">Total:</td>
				<td colspan="2">Ksh {{ r.loan_fee |add:r.processing }}.00</td>
			</tr>

			{% elif 'r7' in request.path|slice:"1:" %} 

			<tr>
				<td colspan="2">Receipt No.:</td>
				<td colspan="2">{{ r.cheque_no }}</td>
			</tr>

			<tr>
				<th colspan="2">Description</th>
				<th colspan="2">Amount</th>
			  </tr>

			  <tr>
				<td colspan="2">Amount:</td>
				<td colspan="2">Ksh {{ r.amount }}</td>
			</tr>

            <tr>
				<td colspan="2">Commission:</td>
				<td colspan="2">Ksh {{ r.commission }}</td>
			</tr>

			<tr>
				<td colspan="2">Total:</td>
				<td colspan="2">Ksh {{ r.amount |add:r.commission }}.00</td>
			</tr>


			{% elif 'r8' in request.path|slice:"1:" %} 

			<tr>
				<td colspan="2">Receipt No.:</td>
				<td colspan="2">{{ r.passbook_no }}</td>
			</tr>

			<tr>
				<th colspan="2">Description</th>
				<th colspan="2">Amount</th>
			  </tr>


			  <tr>
				<td colspan="2">Amount:</td>
				<td colspan="2">Ksh {{ r.amount }}</td>
			</tr>
			<tr>
				<td colspan="2">Total:</td>
				<td colspan="2">Ksh {{ r.amount }}</td>
			</tr>


			{% elif 'r9' in request.path|slice:"1:" %}

			<tr>
				<td colspan="2">Receipt No.:</td>
				<td colspan="2">{{ r.payment_no }}</td>
			</tr>

			<tr>
				<td colspan="2">Principal:</td>
				<td colspan="2">
					
					{% with numerator=r.loan.amount denominator=r.loan.months %}
						Ksh {{ numerator|div:denominator }}
					{% endwith %}

				</td>
			</tr>
			<tr>
				<td colspan="2">Interest:</td>
				<td colspan="2">
					{% with numerator=r.loan.interest denominator=r.loan.months %}
						Ksh {{ numerator|div:denominator }}
					{% endwith %}
				</td>
			</tr>

			<tr>
				<td colspan="2">Insuarance:</td>
				<td colspan="2">Ksh {{ r.loan.insurance }}</td>
			</tr>

			<tr>
				<th colspan="2">Description</th>
				<th colspan="2">Amount</th>
			  </tr>

			  <tr>
				<td colspan="2">Amount:</td>
				<td colspan="2">Ksh {{ r.paid }}</td>
			</tr>
			<tr>
				<td colspan="2">Total:</td>
				<td colspan="2">Ksh {{ r.paid }}</td>
			</tr>

			<!-- <tr>
				<td colspan="2">Balance:</td>
				<td colspan="2">Ksh {{ r.unpaid }}</td>
			</tr> -->

			


			{% endif %}
			
		</tbody>
	</table>

  <div class="receipt-footer">
    <h5><small>{{ r.transaction_id }}</small></h5>
    <h5><small>You were served by {{ request.user.first_name }}  {{ request.user.last_name }}</small></h5>
  </div>

	<div style="margin-top: 20px;">
		<a href="#" class="btn btn-print" onclick="window.print();">Print</a>
		<a href="#" class="btn btn-download" download>Download</a>
		
	</div>

	<script>
		// Hide print and download buttons when printing or downloading
		window.onbeforeprint = function() {
			document.querySelector('.btn-print').style.display = 'none';
			document.querySelector('.btn-download').style.display = 'none';
		}

		window.onafterprint = function() {
			document.querySelector('.btn-print').style.display = 'inline-block';
			document.querySelector('.btn-download').style.display = 'inline-block';
		}

</script>