{% extends "base.html" %}

{% block content %}

{% load static%}

 <!-- <body data-layout="horizontal" data-topbar="dark"> -->

        <!-- Begin page -->
        <div id="layout-wrapper">

            
            <!-- Header-->
            {% include "partials/als_header.html" %}

            <!-- ========== Left Sidebar Start ========== -->
            {% include "partials/als_left_sidebar.html" %}
            <!-- Left Sidebar End -->


            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">
                <div class="page-content">
                    <div class="container-fluid">

                         <!-- start page title -->
                         {% include "partials/als_page_title.html" %}
                        <!-- end page title -->

                        <div class="row">
                            <div class="col-xl-6">
                                <div class="card">
                                    <div class="card-body">
                                        <!-- <h4 class="card-title">Validation type</h4>
                                        <p class="card-title-desc">Parsley is a javascript form validation
                                            library. It helps you provide your users with feedback on their form
                                            submission before sending it to your server.</p> -->

                                            {% include 'partials/als_messages.html' %} 
                                            
                                        <form class="custom-validation" action="" method="POST">
                                            {% csrf_token %}

                                        

                                            <div class="mb-3">
                                                
                                                <label  for="validationCustom03" class="form-label">Payment ID</label>
                                                <select class="form-control select2" id="validationCustom03" name="payment" required >
                                    
                                                        <option name="payment" value="{{payments.id}}" selected>{{payments.id}} {{payments.payment_no}}</option>
                                          
                                                </select>

                                                <div class="invalid-tooltip">
                                                    Please select a member
                                                </div>
                                            </div>
                                            

                                            <div class="mb-3">
                                                
                                                <label  for="validationCustom03" class="form-label">Loan ID</label>
                                                <select class="form-control select2" id="validationCustom03" name="loan" required>
                                    
                                                        <option name="loan" value="{{payments.loan.id}}">{{payments.loan.loan_no }}</option>
                                          
                                                </select>

                                                <div class="invalid-tooltip">
                                                    Please select a loan ID
                                                </div>
                                            </div>


                                        

                                            <div class="mb-3">
                                                <div class="mb-3 position-relative">
                                                    <label for="validationTooltipUsername" class="form-label">Paid</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"
                                                                id="validationTooltipUsernamePrepend">KES</span>
                                                        </div>
                                                        <input type="text" class="form-control" id="paid"
                                                            placeholder="0.00" min="1"
                                                            aria-describedby="validationTooltipUsernamePrepend"  name="paid" value="{{ payments.paid }}" required disabled>
                                                        <div class="invalid-tooltip">
                                                            Please provide an amount.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            

                                            <div class="mb-3">
                                                <div class="mb-3 position-relative">
                                                    <label for="validationTooltipUsername" class="form-label">Amount</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"
                                                                id="validationTooltipUsernamePrepend">KES</span>
                                                        </div>
                                                        <input type="text" class="form-control" id="amount"
                                                            placeholder="0.00" min="-1"
                                                            aria-describedby=""  name="amount" value="{{ values.amount }}" required >
                                                        <div class="invalid-tooltip">
                                                            Please provide an amount.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                           

                                            

                
        
                            
                                            <div class="mb-0">
                                                <div>
                                                    <button type="submit" class="btn btn-success waves-effect waves-light">
                                                        <i class="ri-check-line align-middle me-2"></i> Submit
                                                    </button>
                                                    
                                                    <a href="{% url 'registration' %}">
                                                   
                                                        <button type="button" class="btn btn-warning waves-effect waves-light">
                                                            <i class="ri-error-warning-line align-middle me-2"></i> Cancel
                                                        </button>
                                                     
                                                    </a>
                                                </div>

                                            </div>

                                        </form>
                                   
        
                                    </div>
                                </div>
                            </div> <!-- end col -->
                        <!-- end row -->
                    </div>
                  </div>  
            </div>
        
        </div>
        <!-- END layout-wrapper -->



{% endblock %}