{% extends "base.html" %}

{% block content %}

{% load static%}

<!-- <body data-layout="horizontal" data-topbar="dark"> -->

<!-- Begin page -->
<div id="layout-wrapper">

    <!-- Header-->
    {% include "partials/als_header.html" %}

    <!-- ========== Left Sidebar Start ========== -->
    {% include "partials/als_left_sidebar.html" %}
    <!-- Left Sidebar End -->


    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">

            <!-- start page title -->
            {% include "partials/als_page_title.html" %}
            <!-- end page title -->

            {% include 'partials/als_messages.html' %} 


                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                            {% include 'partials/als_table_title.html' %} 

                            

                                <table  class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                    <thead>
                                        <tr>
                                            <th>Item</th>
                                            <th>Data</th>
                                          
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr>
                                            <th scope="row">Status</th>
                                            <td>{{ loan.status }}</td>
                                        </tr>

                                        <tr>
                                            <th scope="row">Loan No.</th>
                                            <td>{{ loan.loan_no }}</td>
                                        </tr> 

                                        <tr>
                                            <th scope="row">Amount</th>
                                            <td>{{ loan.amount }}</td>
                                        </tr>
                                        
                                        <tr>
                                            <th scope="row">Interest ({{ loan.interest_rate }}%)</th>
                                            <td>{{ loan.interest }} </td>
                                        </tr>  

                                        <tr>
                                            <th scope="row">Insuarance ({{ loan.insuarance_rate }}%)</th>
                                            <td>{{ loan.insurance }} </td>
                                        </tr>  

                                        <tr>
                                            <th scope="row">Duration</th>
                                            <td>{{ loan.months }} Month(s)</td>
                                        </tr> 

                                        <tr>
                                            <th scope="row">Total</th>
                                            <td>{{ loan.total }}</td>
                                        </tr> 
                                        
                                        <tr>
                                            <th scope="row">Balance</th>
                                            <td>{{ loan.balance }}</td>
                                        </tr>

                                        <tr>
                                            <th scope="row">Fines</th>
                                            <td>{{ loan.fines }}</td>
                                        </tr>

                                        <tr>
                                            <th scope="row">Created On</th>
                                            <td>{{ loan.created_on }}</td>
                                        </tr> 

                                        <tr>
                                            <th scope="row">Updated On</th>
                                            <td>{{ loan.updated_on }}</td>
                                        </tr> 

                                        <tr>
                                            <th scope="row">Created By</th>
                                            <td>{{ loan.created_by }}</td>
                                        </tr> 

                                        <tr>
                                            <th scope="row">Updated By</th>
                                            <td>{{ loan.updated_by }}</td>
                                        </tr> 

                                        <tr>
                                            <th scope="row">Due Date</th>
                                            <td>{{ loan.due_date }}</td>
                                        </tr> 

                                        <tr>
                                            <th scope="row">Transaction ID</th>
                                            <td>{{ loan.transaction_id }}</td>
                                        </tr> 
                                        
                                       

                                        
 
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div> <!-- end col -->
                </div> 
            <!-- end row -->
            </div>
        </div>  
    </div>

</div>
<!-- END layout-wrapper -->


{% endblock %}