<!-- sample modal content -->
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5>You are about to delete {{ values.first_name }} {{ values.last_name }}</h5>
                <p>Clicking Delete will delete {{ values.first_name }} {{ values.last_name }} and all ralted date </p>
                <p>By clicking <code>Delete</code> button you are accepting the changes to occur</p>

                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light waves-effect" data-bs-dismiss="modal">Close</button>
                <a href="{% url 'delete-user'  values.id %}">
                    <button type="button" class="btn btn-danger waves-effect waves-light">Delete</button>
                </a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
