<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

<script>

// Total Loan Per Month
var options = {
    chart: { type: 'bar',  height: 350, toolbar: { show: !1 }},
    plotOptions: { bar: { horizontal: !0  }},
    dataLabels: { enabled: !1 },
    series: [{ name: 'Loan Per Month', data: {{ lc_data | safe }} }],
    colors: ["#1cbb8c"],
    grid: { borderColor: "#f1f1f1", padding: { bottom: 10 }},
    xaxis: { categories: {{ lc_labels | safe  }}}
}
var chart = new ApexCharts(document.querySelector("#bar-loan-month"), options);
chart.render();


// Total Loan Per Year
var options = {
    chart: { type: 'bar',  height: 350, toolbar: { show: !1 }},
    plotOptions: { bar: { horizontal: !0  }},
    dataLabels: { enabled: !1 },
    series: [{ name: 'Loan Per Year', data: {{ ly_data | safe }} }],
    colors: ["#1cbb8c"],
    grid: { borderColor: "#f1f1f1", padding: { bottom: 10 }},
    xaxis: { categories: {{ ly_labels | safe  }}}
}
var chart = new ApexCharts(document.querySelector("#bar-loan-year"), options);
chart.render();




</script>